body {
    font-family: "Lato", sans-serif;
    background-color: #1e1e27;
}


.footer {
    overflow: hidden;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border: none;
    background-color: #333;
    color: white;
    text-align: center;
    text-decoration: none;
}

/* Footer og Body */

.box {
    width: 33rem;
    margin: 5em auto;
    padding: 2em;
    background-color: rgb(46, 46, 46);;
    border-radius: 0.5em;
    box-shadow: 2px 3px 7px 2px rgba(0,0,0,0.02);
    transition: all 0.3s ease 0s;
    
}


.box:hover {
    box-shadow: 0px 0px 10px 10px rgb(41, 41, 41);
    background: rgb(71, 71, 71);
    border-radius: 8px;
    transform: scale(1.07,1.07);
    transition: all 0.3s ease 0s;
}




.cardbody{
    padding-left: 5rem;
    color: white;
}

.cardbody-2{
    color: white;
    text-align: left;
    font-weight: 1000;
    font-size: 100%;
    margin-top: 10;
}



.active-status-addon{
    display: inline-block;
    position: relative;
    top: 4px;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: red;
}

.active-status-discord{
    display: inline-block;
    position: relative;
    top: 4px;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: lightgreen;
}

.active-status-superawesome{
    display: inline-block;
    position: relative;
    top: 4px;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: lightgreen;
}

.active-status-superawesome2{
    display: inline-block;
    position: relative;
    top: 4px;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: lightgreen;
}
.active-status-superawesome3{
    display: inline-block;
    position: relative;
    top: 4px;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: lightgreen;
}